{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <title>Reservations</title>
  </head>
  <body>
    <div class="dashboard-container">
      <!-- Sidebar -->
      {% include './left_nav.html' %}

      <!-- Main Content -->
      <div class="main-content">
        <h1>Equipments</h1>
        <div class="btns">
          <a href="{% url 'create_equipment' %}" class="new_btn"> new </a>
        </div>
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>Type</th>
              <th>Availability status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for equipment in equipments %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ equipment.name }}</td>
              <td>{{ equipment.description }}</td>
              <td>{{ equipment.quantity }}</td>
              <td>{{ equipment.type }}</td>
              <td>{{ equipment.quantity|yesno:"Available,Not Available" }}</td>
              <td>
                <a href="{% url 'update_equipment' equipment.id %}">Update</a>
                <a href="{% url 'delete_equipment' equipment.id %}">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
