{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <title>Reservations</title>

    <style></style>
  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="dashboard-container">
      {% include './left_nav.html' %} {% if user.role == 'standard' %}
      <div class="main-content">
        <!-- Welcome message -->
        <h2>Available equipments, "{{user.role}} - {{user.username}}"</h2>
        <p>Now you can request for an equipment.</p>

        <!-- Board displaying totals -->
        <div class="total-boards">
          <div class="total-board">
            <h3>Total Equipments</h3>
            <p>{{ total_equipments }}</p>
          </div>
        </div>
        <!-- Add other total boards as needed -->
      </div>

      {% else %}

      <!-- Main Content -->
      <div class="main-content">
        <!-- Welcome message -->
        <h2>Welcome to the Dashboard, "{{user.role}} - {{user.username}}"</h2>
        <p>
          This is where you can manage your reservations, equipment, and users.
        </p>

        <div class="total-boards">
          <div class="total-board">
            <h3>Total Equipments</h3>
            <p>{{ total_equipments }}</p>
          </div>
          <div class="total-board">
            <h3>Total Reservations</h3>
            <p>{{ total_reservations }}</p>
          </div>
        </div>
      </div>
      {% endif %} {% else %}
      <div class="">User not logged in.</div>
      {% endif %}
    </div>
  </body>
</html>
