{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <title>Reservations</title>
  </head>
  <body>
    <div class="dashboard-container">
      <!-- Sidebar -->
      {% include './left_nav.html' %}

      <!-- Main Content -->
      <div class="main-content">
        <h2>Add New Equipment Type</h2>
        <form
          id="equipmentForm"
          method="post"
          action="{% url 'create_equipment_type' %}"
        >
          {% csrf_token %}
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required /><br /><br />

          <label for="description">Description:</label><br />
          <textarea
            id="description"
            name="description"
            rows="4"
            cols="50"
            required
          ></textarea
          ><br /><br />

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
